@{ ViewBag.Title = "JqGrid in ASP.NET Core - Dynamic Scrolling"; }
<table id="jqgStarWarsCharacters" cellpadding="0" cellspacing="0"></table>
<div id="jqgpStarWarsCharacters" style="text-align:center;"></div>
@section scripts {
    <script type="text/javascript">
        $(function() {
            $('#jqgStarWarsCharacters').jqGrid({
                url: '@Url.Action("Characters", "StarWars")',
                datatype: 'json',
                mtype: 'POST',
                cmTemplate: { align: 'center' },
                colNames: [ 'Name', 'Gender', 'Height', 'Weight', 'Birth Year', 'Skin Color', 'Hair Color', 'Eye Color', 'FirstAppearance' ],
                colModel: [
                            { name: 'Name' },
                            { name: 'Gender', sortable: false, formatter: demo.jqGrid.character.genderFormatter },
                            { name: 'Height' },
                            { name: 'Weight' },
                            { name: 'BirthYear' },
                            { name: 'SkinColor', sortable: false, formatter: demo.jqGrid.character.skinColorFormatter },
                            { name: 'HairColor', sortable: false, formatter: demo.jqGrid.character.hairColorFormatter },
                            { name: 'EyeColor', sortable: false, formatter: demo.jqGrid.character.eyeColorFormatter },
                            { name: 'FirstAppearance', align: 'center', formatter: 'date', formatoptions: { srcformat: 'ISO8601Long' } }
                          ],
                caption: 'StarWars Characters',
                footerrow: true,
                userDataOnFooter: true,
                jsonReader: { repeatitems: false, id: 'Id' },
                pager: $('#jqgpStarWarsCharacters'),
                scroll: true,
                prmNames: { npage: 'npage' },
                sortname: 'Id',
                sortorder: 'asc',
                viewrecords: true,
                height: '300px'
            });
        });
    </script>
}